/*This is the simple format for a class element*/
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}


/*This is the simple format for an ID element*/
#active { 
    background-color: white;
    color: steelblue;
}

 